.landing-main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-holder{
  background-color: var(--main-bg);
  width: 80vw;
  max-width: 1200px;
  min-width: 330px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 20px var(--main-bg);
}
